p{font-family:'Times New Roman', Times, serif;
line-height: 2;} /*CSS Code for text*/

#menu ul{list-style-type: none; /*CSS Code for horizontal navigation menu using flexbox*/
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
width: 90%;}
#menu ul li{float: left;
width: 29%;
padding: 0;
margin: 0;}
#menu ul li a{ /*CSS Code for individual navigation menu items*/
    text-align: center;
    display: block;
    width: 100%;
    padding: 3%;
    text-decoration: none;
    background-color: #06402B;
    color: #ffff;
    font-weight: bold;
    border-right: 2px solid #ffff;
    box-sizing: border-box;
}

#copyright{color: #800080;} /*CSS Code for footer text & copyright symbol*/

#products li{font-size: 80%; /*CSS Code for homepage list*/
color: #0000ff}
h1, ul li {font-family:'Courier New', Courier, monospace;} /*CSS Code for Icon in Header and list*/

#wiki{font-size: 85%; /*CSS Code for link*/
font-family: Arial, Helvetica, sans-serif;
margin-left: 1%;}

#sample{padding: 2%; /*CSS Code for Sample Image which scales to profile picture*/
    border: 0.5px dashed #06402B;
    background-image: linear-gradient(45deg, green 0%, white 50%, blue 100%); /*Gradient for the border (my favorite addition)*/
}

#profile{padding: 5%; /*CSS Code for Profile Picture*/
    border: 2px solid #0000ff;
    background-image: linear-gradient(45deg, green 0%, white 50%, blue 100%);} /*CSS for Artist Profile Image Border*/


main{ /*CSS Code for main content*/
    width: 100%;
    column-count: 2;
    column-gap: 40px;
    column-rule: none;
}

@media (max-width: 761px) { /*Media query to stack columns for smaller sized screens*/
  main {
    column-count: 1;
  }
}