p{font-family:'Times New Roman', Times, serif;
line-height: 2;}
main{
    display: grid;
    grid-template: 40% 40% 40% / 50% 50%;
    grid-gap: 15px 20px;
}
div{background-image: linear-gradient(45deg, green 0%, white 50%, blue 100%);}
#menu ul{list-style-type: none;
width: 90%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;}
#menu ul li{float: left;
width: 29%;
padding: 0;
margin: 0;}
#menu ul li a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 3%;
    text-decoration: none;
    background-color: #06402B;
    color: #ffff;
    font-weight: bold;
    border-right: 2px solid #ffff;
    box-sizing: border-box;
}
@media (max-width: 360px){ /*Media query to rearrange grid into columns for mobile users using a flex container*/
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
@media (max-width:260px){ /*Media query to rearrange navigation menu when screen gets too small for rows*/
    #menu ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}