p{font-family:'Times New Roman', Times, serif;
line-height: 2;}
body{
    width: 100%;
    border: #0000 solid 2 px;
}
main{
    width: 50%;
    float: right;
}
aside{
    width: 50%;
    float: left;
}