p{font-family:'Times New Roman', Times, serif;
line-height: 2;}
main{
    padding-top: 2em;
    width: 100%;
    border: #0000 solid 2 px;
    column-count: 2;
    column-gap: 40px;
    column-rule: none;
}
#menu ul{list-style-type: none;
width: 90%;}
#menu ul li{float: left;
width: 29%;
padding: 0;
margin: 0;}
#menu ul li a{
    text-align: center;
    display: block;
    width: 100%;
    padding: 3%;
    text-decoration: none;
    background-color: #06402B;
    color: #ffff;
    font-weight: bold;
    border-right: 2px solid #ffff;
    box-sizing: border-box;
}
@media (max-width: 400px) { /*Media query to stack columns for smaller sized screens and to make sure photos are large enough to view*/
  main {
    column-count: 1;
  }
  img{
    width: 80%;
  }
}