p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#learn {
    color: #0000ff;
}
#single {
    border-color: #13265C;
    border-width: 50%;
    border-style: dotted;
    padding: 1em;
}
#trade {
    border-color: #0000ff;
    border-width: 50%;
    border-style: double;
    padding: 1em;
}
#compact {
    border-color: #808080;
    border-width: 50%;
    border-style: dashed;
    padding: 1em;
}
#deluxe {
    border-color: #008000;
    border-width: 50%;
    border-style: dashed;
    padding: 1em;
}
#omni {
    border-color: #ff0000;
    border-width: 50%;
    border-style: dashed;
    padding: 1em;
}
a:hover {
    color: #8a2be2;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}

ul li {
    color: #13265C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75%;
}
#list1 {
    margin-left: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
#list2 {
    margin-left: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
#list3 {
    margin-left: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
#list4 {
    margin-left: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
#list5 {
    margin-left: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
#list6 {
    margin-left: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
h1, p.list {
    color: #2171b5
}